:root {
  --textColor: black;
  --themColor: #ff545a;
  --imageMaxWidth: 320px;
  --imageMinWidth: 250px;
}

body {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

::-moz-selection {
  background-color: var(--themColor);
  color: white;
}

::selection {
  background-color: var(--themColor);
  color: white;
}

.lineClip3 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display_InlineBlock {
  display: inline-block !important;
}

.display_Block {
  display: block !important;
}

#header {
  position: sticky;
  top: 0;
  display: block;
  z-index: 99999;
}
#header .topBarMenu {
  padding: 0.25rem 0.75rem;
  display: block;
  background-color: white;
  box-shadow: 0 10px -5px gray;
  box-shadow: 0px 1px 27px -10px gray;
}
#header .topBarMenu nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#header .topBarMenu nav .orgLogo img {
  height: 100%;
  max-height: 55px;
}
#header .topBarMenu nav .menuOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.76rem;
}
#header .topBarMenu nav .menuOptions a.eachMenu {
  color: black;
}
#header .topBarMenu nav .menuOptions i {
  cursor: pointer;
}
#header .topBarMenu nav .menuOptions input#searchInput {
  display: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}
#header .topBarMenu nav .menuOptions input#searchInput:focus {
  outline: 1px solid rgba(190, 190, 190, 0.6);
}
@media (max-width: 678px) {
  #header .topBarMenu {
    display: none;
  }
}
#header .sideBarMenu {
  display: none;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  inset: 0;
  background-color: rgba(92, 92, 92, 0.5607843137);
}
#header .sideBarMenu > nav {
  background-color: white;
  height: 100%;
  width: 300px;
  padding: 0.5rem 0.75rem;
  box-shadow: 10px 0px 25px -10px rgba(161, 126, 148, 0.7);
}
#header .sideBarMenu > nav a.eachMenu {
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(152, 152, 255, 0.322);
  margin: 0.25rem 0rem;
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 0.5rem;
}
@media (min-width: 678px) {
  #header .sideBarMenu {
    display: none !important;
  }
}
#header .sideBarMenuIcon {
  padding: 1rem 1.5rem;
}
#header .sideBarMenuIcon i {
  cursor: pointer;
  background-color: var(--themColor);
  padding: 5px 6px;
  border-radius: 50%;
}
@media (min-width: 678px) {
  #header .sideBarMenuIcon {
    display: none;
  }
}

#footer {
  background-color: #2d2d2d;
  border-bottom: 5px solid var(--themColor);
  border-radius: 0 0 8px 8px;
  color: gray;
}
#footer .footer-part1 {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #4b4b55;
}
#footer .footer-part2 {
  padding: 1rem;
}
#footer .footer-part2 .copyright {
  text-align: center;
}
#footer .footer-part2 .copyright a {
  color: white;
}
#footer .footer-part2 .importantPages {
  text-align: center;
  margin-top: 1rem;
}
#footer .footer-part2 .importantPages a {
  margin-block: 1rem;
  color: white;
}/*# sourceMappingURL=common.css.map */