$breakpoint-tablet: 678px;
$footer-min-width: 180px;
$footer-text-color: #999999;

:root {
	--textColor: black;
	--themColor: #ff545a;
	--imageMaxWidth: 320px;
	--imageMinWidth: 250px;
}

body {
	position: relative;
	max-width: 1200px;
	margin: auto;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: var(--textColor);
}
::selection {
	background-color: var(--themColor);
	color: white;
}
.lineClip3 {
	// Text clipping
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 0.8em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.display_InlineBlock {
	display: inline-block !important;
}
.display_Block {
	display: block !important;
}
#header {
	position: sticky;
	top: 0;
	display: block;
	z-index: 99999;
	.topBarMenu {
		padding: 0.25rem 0.75rem;
		display: block;
		background-color: white;
		box-shadow: 0 10px -5px gray;
		box-shadow: 0px 1px 27px -10px gray;
		nav {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			& .orgLogo {
				img {
					height: 100%;
					max-height: 55px;
				}
			}
			& .menuOptions {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-end;
				gap: 0.76rem;
				& a.eachMenu {
					color: black;
				}
				& i {
					cursor: pointer;
				}
				& input#searchInput {
					display: none;
					border: none;
					border-bottom: 1px solid gray;
					padding: 5px 10px;
					&:focus {
						outline: 1px solid rgba(190, 190, 190, 0.6);
					}
				}
			}
		}
		// Don't show the topBarMenu for small screens
		@media (max-width: $breakpoint-tablet) {
			display: none;
		}
	}
	.sideBarMenu {
		display: none;
		position: fixed;
		height: 100dvh;
		width: 100dvw;
		inset: 0;
		background-color: #5c5c5c8f;
		& > nav {
			background-color: white;
			height: 100%;
			width: 300px;
			box-shadow: 10px 0px 25px -10px rgb(161 126 148 / 70%);
			animation: slideInLeft 450ms forwards;
			position: relative;
			.searchArea {
				input {
					height: 3em;
					width: 100%;
					display: block;
					padding: 12px;
					border: none;
					box-shadow: 0 1px 3px 4px #bdbdbdb7;
					background-color: white;
					outline: none;
				}
				i {
					position: absolute;
					top: 12px;
					right: 16px;
					border: 0;
					cursor: pointer;
				}
			}
			& .links {
				padding: 1.5em 1em 1em;
				font-size: 0.75em;
				a.eachMenu {
					display: block;
					width: 100%;
					margin-bottom: 8px;
					outline: none;
					border: none;
					padding: 0.5rem 0.75rem;
					border-bottom: 1px solid rgb(199, 199, 199);
					cursor: pointer;
					&:last-child {
						border: none;
					}
				}
			}
		}
		// Don't show the sideBarMenu for the big screens
		@media (min-width: $breakpoint-tablet) {
			display: none !important;
		}
	}
	.sideBarMenuIcon {
		padding: 1rem 1.5rem;
		& i {
			cursor: pointer;
			background-color: var(--themColor);
			padding: 5px 6px;
			border-radius: 50%;
		}
		// Don't show the sideBarMenu for the big screens
		@media (min-width: $breakpoint-tablet) {
			display: none;
		}
	}
}

#footer {
	background-color: #2d2d2d;
	border-bottom: 5px solid var(--themColor);
	border-radius: 0 0 8px 8px;
	color: gray;
	& .footer-part1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 3rem 0;
		border-bottom: 1px solid #4b4b55;
		gap: 1em;
		& > div {
			flex: 1;
			padding: 1rem;
		}
		.newsLetter {
			border-right: 1px solid #4b4b55;
			flex: 3;
			.orgLogo {
				overflow: hidden;
				img {
					width: 100%;
					max-width: 100px;
					color: white;
					fill: white;
					aspect-ratio: 1/1;
					transition: all ease 100ms;
					&:hover {
						filter: drop-shadow(0 0 1px #b9b9b9);
					}
				}
			}
			.text {
				text-transform: capitalize;
				font-size: 0.75em;
				color: #666666;
				margin-top: 1.25rem;
				margin-bottom: 0.75rem;
				margin-left: 1rem;
			}
			.emailArea {
				display: inline-block;
				position: relative;
				font-size: large;
				height: 1.25rem;
				width: 80%;
				margin: 4px auto;
				text-align: left;
				input {
					position: absolute;
					width: 100%;
					inset: 0;
					background-color: white;
					color: var(--textColor);
					font-size: 0.75em;
					border: 1px solid white;
					outline: none;
					padding-inline: 0.75em;
					height: 2rem;
					border-radius: 50px;
					&:active,
					&:focus {
						border: 2px solid var(--themColor);
					}
				}
				button {
					position: absolute;
					bottom: 0;
					right: 0;
					top: 0;
					background-color: var(--themColor);
					color: black;
					text-transform: uppercase;
					padding-inline: 1em;
					font-weight: 400;
					height: 2rem;
					font-size: 0.75em;
					border-radius: 50px;
					outline: none;
					border: 1px solid var(--themColor);
					border: none;
					cursor: pointer;
					&:active,
					&:hover,
					&:focus {
						background-color: green;
					}
				}
			}
			min-width: calc($footer-min-width * 2);
			@media (max-width: calc($footer-min-width * 5)) {
				border-bottom: 1px dotted #4b4b55;
			}
			@media (max-width: calc($footer-min-width * 3.5)) {
				border-bottom: 1px solid #4b4b55;
				border-right: unset;
			}
		}
		.aboutUs {
			display: none; // Temporary
			min-width: $footer-min-width;
			padding-left: 2.5rem;
			a {
				display: block;
				margin-top: 14px;
				font-size: 0.75em;
				color: $footer-text-color;
			}
		}
		.supportUs {
			min-width: $footer-min-width;
			.donateNow {
				color: $footer-text-color;
				font-size: small;
				margin-bottom: 1.2rem;
			}
			img {
				margin-left: 0.75em;
				cursor: pointer;
			}
		}
		.getInTouch {
			min-width: $footer-min-width;
			padding-right: 1.5em;
			.contactNo {
				color: var(--themColor);
				margin-bottom: 1.25em;
			}
			.house-no,
			.house-street,
			.house-local {
				line-height: 1.5em;
			}

			.house-email {
				margin: 1.5em auto 1.75em 0.5em;
			}
			.socials {
				display: flex;
				gap: 1em;
				& > div {
					background-color: var(--themColor);
					border-radius: 50%;
					padding: 8px;
					display: grid;
					place-items: center;
					color: white;
					&:hover {
						scale: 1.1;
						color: rgb(25, 25, 85);
					}
				}
			}
		}
		& .footer-headers {
			color: white;
			margin-bottom: 1.75em;
			text-transform: capitalize;
		}
	}
	& .footer-part2 {
		padding: 1rem;
		.copyright {
			text-align: center;
			a {
				color: white;
			}
		}
		.importantPages {
			text-align: center;
			margin-top: 1rem;
			a {
				margin-block: 1rem;
				color: white;
			}
		}
	}
}

// Animations
@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
