#contactUs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.abc,
	.donate {
		padding: 1.5rem;
	}
	.abc {
		min-width: 320px;
		flex: 2;
		.contactUs-Heading-secondary {
			text-transform: capitalize;
			font-weight: bold;
			font-size: larger;
			margin-bottom: 1.5em;
		}
		.contactUs-Heading-primary {
			text-transform: capitalize;
			font-weight: bold;
			font-size: large;
			margin-block: 1.5em;
		}
		.form {
			padding: 2em;
			& > div {
				margin-block: 1rem;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				gap: 0.5em;
				& > input,
				& > textarea {
					flex: 1;
					margin: 8px 1em;
					font-size: 14px;
					font-weight: 400;
					color: #ebebeb;
					border: 1px solid #ebebeb;
					background-color: #fff;
					border-color: #ebebeb;
					padding: 0.7em 1.3em;
					margin-top: 1.2rem;
					border-radius: 5px;
				}
				button {
					border: 1px solid #ebebeb;
					padding: 0.7em 1.3em;
					min-width: 170px;
					display: inline-block;
					flex: unset;
					border-radius: 25px;
					color: white;
					background-color: var(--themColor);
					border-color: var(--themColor);
					margin-top: 1.2rem;
					cursor: pointer;
					&:hover {
						opacity: 0.9;
					}
					&:active {
						opacity: 1;
					}
				}
			}
		}
		p {
			font-size: 0.85em;
			margin-bottom: 1em;
			color: gray;
		}
	}
	.donate {
		min-width: 200px;
		flex: 1;
		text-align: center;
		position: relative;
		section {
			position: sticky;
			top: 5em;
			h3 {
				color: #084a5a;
				font-size: 20px;
			}
			h2 {
				color: #666666;
				margin-bottom: 1rem;
			}
			p {
				line-height: 1.5em;
			}
			a {
				border: 1px solid #ebebeb;
				padding: 0.7em 1.3em;
				min-width: 170px;
				display: inline-block;
				flex: unset;
				border-radius: 25px;
				color: white;
				background-color: var(--themColor);
				border-color: var(--themColor);
				margin-top: 1.2rem;
				cursor: pointer;
			}
		}
	}
}
