$breakpoint-tablet: 678px;

.heading {
	color: var(--themColor);
	text-align: center;
	font-size: 3rem;
	font-weight: bolder;
	margin: 3rem 1rem;
}
#home {
	min-height: 50vh;
	& > div {
		padding: 10px 14px 4rem 14px;
	}
	& .displayImage {
		display: block;
		width: 100%;
		height: auto;
		max-height: 100dvh;
		& > img {
			width: 100%;
			height: 100%;
		}
	}
	& .ourWork {
		& .workExamples {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			gap: 2rem 1rem;
			& .eachWorkExample {
				min-width: var(--imageMinWidth);
				max-width: var(--imageMaxWidth);
				background-color: transparent;
				padding: 12px 8px;
				text-align: center;
				margin: 0 1rem;
				@media (max-width: $breakpoint-tablet) {
					max-width: unset;
				}
				& img {
					width: 90%;
					align-self: center;
				}
				& .description {
					& .count {
						color: var(--themColor);
						font-weight: bold;
						font-size: 3rem;
						margin: 6px 0;
					}
					& .text {
						color: darkgrey;
						line-height: 1.75rem;
						text-transform: capitalize;
					}
				}
			}
		}
	}
	& .empoweringSlums {
		& .empoweringBy {
			font-size: 3em;
			text-align: center;
			margin-top: 2.5rem;
			margin-bottom: 3rem;
			& #ways {
				color: var(--themColor);
				transition: transform 0.5s ease-in-out;
				transform-origin: center;
				overflow: hidden;
				text-transform: capitalize;
			}
		}
		& .empowering-cards {
			display: flex;
			gap: 2rem 1rem;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: stretch;
			justify-content: center;
			& .empowering-eachCard {
				min-width: var(--imageMinWidth);
				max-width: var(--imageMaxWidth);
				border-color: #ccc;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
				& img {
					min-width: var(--imageMinWidth);
					width: 100%;
					border-radius: 0 0 0.5rem 0.5rem;
				}
				& .description {
					padding: 0.75rem 1.5rem;
					text-align: left;
					& .title {
						font-weight: bolder;
					}
					& p {
						line-height: 1.25rem;
						margin: 1.25em auto;
						font-weight: 400;
						margin-bottom: 0;
						color: gray;
					}
				}
				@media (max-width: $breakpoint-tablet) {
					max-width: unset;
				}
			}
		}
	}
	& .charityHelp {
		text-align: center;
		& .charityHelpHeading {
			font-size: 2.5em;
			margin: 1em auto;
		}
		& .helpCardWays {
			display: flex;
			padding: 0.5rem;
			align-items: stretch;
			justify-content: space-evenly;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 3rem 1rem;
			& > div {
				padding: 1rem 0.75rem;
				border-radius: 4px;
				box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.596);
				box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
				width: 100%;
				max-width: calc(var(--imageMaxWidth) * 0.75);
				border: 1px solid rgba(161, 161, 161, 0.267);
				transition: all 150ms ease;
				&:hover {
					box-shadow:
						8px -8px 0px 4px rgba(71, 74, 255, 0.45),
						16px -16px 0px 4px rgba(255, 129, 71, 0.45);
					border-radius: 0px;
				}
				& img {
					max-width: 90px;
					margin-bottom: 1rem;
				}
				& .title {
					font-size: 1.5em;
					padding-bottom: 12px;
				}
				& p {
					line-height: 1.25rem;
					margin: 1.25em auto;
					font-weight: 400;
					margin-bottom: 0;
				}
				& button {
					text-transform: uppercase;
					font-family: "Helvetica", Sans-serif;
					background-color: #02010100;
					border-style: solid;
					border-width: 2px 2px 2px 2px;
					border-color: var(--themColor);
					margin: 0.75rem auto;
					padding: 8px 30px 8px 30px;
					font-size: 12px;
					font-weight: 600;
					border-radius: 1.5em;
					cursor: pointer;
					transition: all 200ms ease-in-out;
					&:hover {
						background-color: var(--themColor);
						color: black;
						box-shadow: 0 0 4px var(--themColor);
					}
				}
				@media (max-width: $breakpoint-tablet) {
					max-width: unset;
				}
			}
			@media (max-width: $breakpoint-tablet) {
				padding: 0.75rem 1rem;
			}
		}
	}
	& .galleryHouse {
		padding: 0;
		.splide__slide {
			display: block;
			width: 80%;
			margin: auto;
			img {
				width: 100%;
			}
		}
	}
	& .testimonials {
		& .heading {
			text-align: left;
			color: black;
			text-shadow:
				0 1px gray,
				-1px 0 rgb(149, 32, 196);
		}
		& .testimonial-content {
			text-align: center;
			overflow: hidden;
			max-width: 380px;
			margin: auto;
			cursor: grab;
			&:active {
				cursor: grabbing;
			}
			& .title {
				font-size: 1.5em;
				margin: 2rem auto;
				&::before {
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-style: normal;
					font-variant: normal;
					font-weight: normal;
					line-height: 1;
					vertical-align: middle;
					content: url("../images/doubleQuotes.png");
					transform: rotate(180deg);
					background-color: var(--themColor);
					height: 60px;
					width: 60px;
					border-radius: 50%;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					margin-right: 15px;
					color: #fff;
					font-size: 20px;
				}
			}
			& .message {
				color: black;
			}
			& img {
				margin-top: 2em;
				width: 80px;
				max-width: 80px;
				aspect-ratio: 1/1;
				border-radius: 50%;
				transition: all 200ms ease;
				&:hover {
					scale: 1.1;
				}
			}
			& .name {
				font-weight: bold;
				margin: 8px auto;
			}
			& .orgName {
				color: var(--themColor);
			}
			@media (max-width: 580px) {
				& {
					text-align: left;
				}
			}
		}
	}
}
